<div class="container" >
  <div class="jumbotron first" style="background-color: orange">
    <p>WELCOME TO GIT EXPLORE</p>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="userName" name="use" #use='ngModel' placeholder="Username">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit" (click)='getUser()'>Go</button>
    </div>
  </div>
  <div class=" bg-basic" *ngIf="isComplete">
    <div class="card-head">
      <div class="card-title head">
        <h6 style="color:orange"><span style="color:greenyellow; font-family: sans-serif; font-size:19px;">User Name:</span> {{user.login}} || <span style="color:greenyellow; font-family: sans-serif; font-size:19px;">Location:</span> {{user.location}}</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{user.avatar_url}}" class="mx-auto d-block img-thumbnail img-fluid"  alt="profile photo"> <br>
          <div class="bio">
            <div class="square">
              <ul class="list list-unstyled">
                <li *ngIf = 'user.name'><span style="color:greenyellow;">Name</span>: {{user.name}}</li>
                <li *ngIf = 'user.company'><span style="color:greenyellow;">company</span>: {{user.company}}</li>
                <li *ngIf = 'user.email'><span style="color:greenyellow;">Email</span>: {{user.email}}</li>
                <li *ngIf = 'user.hireable'>Available for hire</li>
                <li *ngIf = 'user.twitter_username'><span style="color:greenyellow;">Twitter user name</span>: {{user.twitter_username}}</li>
                <li><span style="color:greenyellow;">Created on</span>: {{user.created_at |date:'medium' |timeAgo}}</li>
              </ul>
            </div>
            <div *ngIf = 'user.bio' style="text-align:center" class="">
              <h5 style="color:green; text-align:center">BIO</h5>
              <p style="color:purple;">{{user.bio}}</p>
            </div>
          </div>
          <div class="button">
            <span class="btn btn1 btn-primary">{{user.public_gists}} public_gists</span>
            <span class="btn btn1 btn-success">{{user.public_repos}} public_repos</span>
            <span class="btn btn1 btn-danger">{{user.followers}} followers</span>
            <span class="btn btn1 btn-warning">{{user.following}} following</span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="col-md-12" *ngFor = 'let repo of repos; let i = index'>
              <div class="container" *ngIf="i<3">
                <hr>
                <p><span style = "color: blue">{{repo.name}}</span> <a class="float-right btn btn-success" href="{{repo.html_url}}"> View in Github </a></p>
                <p>{{repo.description}}</p>
                <p style = "margin-top: 8px;"><span style = "color: brown">{{repo.language}}</span> <span class="float-right">⭐ {{repo.stargazers_count}}</span></p>
                <hr>
              </div>
          </div>
          <div class="button">
            <button type="button" (click)='goToUrl()' class="btn btn1 btn-primary" name="button">View more Repositories</button>
          </div>
          </div>
      </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="" *ngIf="!isComplete">
    <div class="jumbotron">
      <h1 class="display-4 text-center">Check Your Username</h1>
      <hr class="my-4">
      <p class="lead text-center">Sorry we could not find what you are looking for. Your username might not be accurate or an Error might have occurred !</p>
    </div>
  </div>
</div>
