<div class="container" >
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="userName" name="use" #use='ngModel' placeholder="Username">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit" (click)='getUser()'>Go</button>
    </div>
  </div>
  <div class="card bg-basic *ngIf="isComplete"">
    <div class="card-head">
      <div class="card-title head">
        <h6>User Name: {{user.login}} || Location: {{user.location}}</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{user.avatar_url}}" class="mx-auto d-block img-thumbnail img-fluid"  alt="profile photo"> <br>
          <div class="bio">
            <ul class="list list-unstyled">
              <li *ngIf = 'user.name'>Name: {{user.name}}</li>
              <li *ngIf = 'user.company'>company: {{user.company}}</li>
              <li *ngIf = 'user.email'>Email: {{user.email}}</li>
              <li *ngIf = 'user.hireable'>Available for hire</li>
              <li *ngIf = 'user.twitter_username'>Twitter user name: {{user.twitter_username}}</li>
            </ul>
            <div *ngIf = 'user.bio' class="">
              <h5>BIO</h5>
              <p>{{user.bio}}</p>
            </div>
          </div>
          <div class="button">
            <span class="btn btn1 btn-primary">{{user.public_gists}} public_gists</span>
            <span class="btn btn1 btn-success">{{user.public_repos}} public_repos</span>
            <span class="btn btn1 btn-danger">{{user.followers}} followers</span>
            <span class="btn btn1 btn-warning">{{user.following}} following</span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="col-md-12" *ngFor = 'let repo of repos; let i = index'>
              <div class="container" *ngIf="i<3">
                <hr>
                <p><span style = "color: blue">{{repo.name}}</span> <a class="float-right btn btn-success" href="{{repo.html_url}}"> View in Github </a></p>
                <p>{{repo.description}}</p>
                <p style = "margin-top: 8px;"><span style = "color: brown">{{repo.language}}</span> <span class="float-right">⭐ {{repo.stargazers_count}}</span></p>
                <hr>
              </div>
          </div>
          <div class="button">
            <button type="button" (click)='goToUrl()' class="btn btn1 btn-primary" name="button">View more Repositories</button>
          </div>
          </div>
      </div>
    <div class="card-footer">

    </div>
  </div>
  <div class="" *ngIf="!isComplete">
    <div class="jumbotron">
      <h1 class="display-4 text-center">Check Your Username</h1>
      <hr class="my-4">
      <p class="lead text-center">Sorry we could not find what you are looking for. Your username might not be accurate or an Error might have occurred !</p>
    </div>
  </div>
</div>
