.form1{

}
img{
  max-width: 90%;
}
.card1{

}
.bio{
  text-align:;
  color: white;
  font-family: cursive;
  font-size: 20px;
}
.square{
  width: auto;
  height:auto;
  position: relative;
  left: 20%;
  margin-left: -50px;
}
.button{
  text-align: center;
}
.btn1{
  margin: 5px;
}
