<div class="container">
  <div class="card bg-basic">
    <div class="card-head">
      <div class="card-title head">
        <h6>User Name: {{user.login}} || Location: {{user.login}}</h6>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{user.avatar_url}}" class="mx-auto d-block img-thumbnail img-fluid"  alt="profile photo"> <br>
          <div class="button">
            <p><a class="btn btn-info" href="{{user.html_url}}">View Profile In Github</a></p>
          </div>
          <div class="bio">
            <ul class="list list-unstyled">
              <li *ngIf = 'user.name'><span style="color:red;">Name</span>: {{user.name}}</li>
              <li *ngIf = 'user.company'><span style="color:red;">company</span>: {{user.company}}</li>
              <li *ngIf = 'user.email'><span style="color:red;">Email</span>: {{user.email}}</li>
              <li *ngIf = 'user.hireable'>Available for hire</li>
              <li *ngIf = 'user.twitter_username'><span style="color:red;">Twitter user name</span>: {{user.twitter_username}}</li>
              <li><span style="color:red;">Created at</span>: {{user.created_at |date:'medium' |timeAgo}}</li>
            </ul>
            <div *ngIf = 'user.bio' class="">
              <h5 style="color:red; text-align:center">BIO</h5>
              <p>{{user.bio}}</p>
            </div>
          </div>
          <div class="button">
            <span class="btn btn1 btn-primary">{{user.public_gists}} public_gists</span>
            <span class="btn btn1 btn-success">{{user.public_repos}} public_repos</span>
            <span class="btn btn1 btn-danger">{{user.followers}} followers</span>
            <span class="btn btn1 btn-warning">{{user.following}} following</span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="col-md-12" *ngFor = 'let repo of repos; let i = index'>
              <div class="container" *ngIf="i<3">
                <hr>
                <p><span style = "color: blue">{{repo.name}}</span> <a class="float-right btn btn-success" href="{{repo.html_url}}"> View in Github </a></p>
                <p>{{repo.description}}</p>
                <p style = "margin-top: 8px;"><span style = "color: brown">{{repo.language}}</span> <span class="float-right">⭐ {{repo.stargazers_count}}</span></p>
                <hr>
              </div>
          </div>
          <div class="button">
            <button type="button" (click)='goToUrl()' class="btn btn1 btn-primary" name="button">View more Repositories</button>
          </div>
          </div>
      </div>
    <div class="card-footer">

    </div>
  </div>
</div>
