img{
  max-width: 70%;
}
.card1{

}
.bio{
  text-align:;
  color: white;
  font-family: cursive;
  font-size: 20px;
}
.button{
  text-align: center;
}
.btn1{
  margin: 5px;
}
.header{
  font-family: fantasy;
  text-align: center;
  padding: 10px;
  border-top: 4px solid red;
  border-bottom: 4px solid #77ff33;
  border-left: 4px solid blue;
  border-right: 4px solid yellow;
  color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.square-container{

}
.square{
  width: auto;
  height:auto;
  position: relative;
  left: 20%;
  margin-left: -50px;

}
