<style media="screen">
  .first {
      font-family: 'hunters script';
      padding: 15px;
      color: black;
      height: 100px;
      text-align: center;
      margin-top: 20px;
    }
    .first p{
      padding-top: 20px;
      padding-bottom: 10px;
      color: white;
      font-size: 25px;
    }
</style>
<div class="container">
  <div class="jumbotron first" style="background-color: orange">
    <p>WELCOME TO GIT EXPLORE</p>
  </div>
  <div class="row">
    <div class="">

    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="col-md-12" *ngFor = 'let repo of repos; let i = index'>
          <div class="container">
            <hr>
            <p><span style = "color: blue">{{repo.name}}</span> <a class="float-right btn btn-success" href="{{repo.html_url}}"> View in Github </a></p>
            <p>{{repo.description}}</p>
            <p style = "margin-top: 8px;"><span style = "color: brown">{{repo.language}}</span> <span class="float-right">⭐ {{repo.stargazers_count}}</span></p>
            <hr>
        </div>
      </div>
    <div class="">

    </div>
  </div>
</div>
